NODE_ENV=development
PORT=3000

NEON_DATABASE_URL=postgresql://user:password@ep-sample-pool.neon.tech/neondb?sslmode=require
REDIS_URL=rediss://default:password@upstash-instance.upstash.io:6379

PINECONE_API_KEY=your_pinecone_api_key_here
PINECONE_INDEX_NAME=warden-tools
